.projectCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 65px;
}

.imgWrapperRight {
    position: relative;
    order: 0;
}

.imgWrapperLeft {
    position: relative;
    order: 1;
}

.imgWrapperRight, .imgWrapperLeft {
    cursor: pointer;
}

.imgWrapperRight img {
    height: 300px;
    width: 600px;
    border-radius: 5px;
    z-index: 1;
}

.imgWrapperLeft img {
    height: 300px;
    width: 600px;
    border-radius: 5px;
    z-index: 1;
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4ad98; 
    opacity: 0.15;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.img {
    position: relative;
}

.imgWrapperLeft:hover .imgOverlay, .imgWrapperRight:hover .imgOverlay {
    opacity: 0;
}

.contentWrapperRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
    order: 1;
}

.contentWrapperLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    order: 0;
}

.featuredProject {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    color: #edb50c;
}

.projectTitle {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 22px;
    color: #ffffff;
}

.projectDescriptionRight {
    background-color: #466161;
    color: #cdd7e6;
    font-family: 'Inter', sans-serif;
    text-align: right;
    z-index: 2; 
    position: relative;
    padding: 20px;
    width: 115%; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.projectDescriptionLeft {
    background-color: #466161;
    color: #cdd7e6;
    font-family: 'Inter', sans-serif;
    text-align: left;
    z-index: 2; 
    position: relative;
    padding: 20px;
    width: 115%; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.ulRight {
    padding: 0; 
    margin: 0; 
}

.ulRight li {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #E4F6F9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 15px;
    padding: 4px 12px;
    background-color: #6D8F90;
}

.ulLeft {
    padding: 0; 
    margin: 0; 
}

.ulLeft li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #E4F6F9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 15px;
    padding: 4px 12px;
    background-color: #6D8F90;
}

.projectCardContainerNarrow {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.projectCardWrapperNarrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: 90%;
    width: 90%;
    height: 500px;
    background-color: #466161; 
    border-radius: 10px;
    gap: 25px;
}

.imgWrapperNarrow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.imgWrapperNarrow img {
    width: 90%;
    height: 100%;
}

.projectTitleNarrow {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
}

.projectDescriptionNarrow {
    color: #cdd7e6;
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding: 0 50px 0 50px;
}

@media (max-width: 770px) {
    .projectCardWrapperNarrow {
        height: 500px;
    }
}
