.aboutMeContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aboutMeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.contentHeader {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: inline;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.accentColor {
    color: #E4F6F9;
    font-family: 'Fira Code', monospace;
}

.accentColorTwo {
    color: #E4F6F9;
    font-family: 'Inter', sans-serif;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 25px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: flex-start;
}

.contentSection {
    color: #94a3b8;
    font-family: 'Inter', sans-serif;
}

.ul {
    padding: 0; 
    margin: 0; 
}

.li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #E4F6F9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    border-radius: 15px;
    padding: 4px 12px;
    background-color: #6D8F90;
}

.photoContainer {
    position: relative; 
    width: 240px;
    height: 240px;
}

.photoContainer img {
    height: 240px;
    width: 240px;
    border-radius: 5px;
    z-index: 20; 
    position: relative;
}

.photoContainer::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px; 
    width: 240px; 
    height: 240px; 
    border: 2px solid #6D8F90;
    border-radius: 5px; 
    z-index: 1; 
}