.aboutMeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
}

.hello {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 22px;
    color: #74e2b8;
}

.name {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 800;

    color: #ffffff;
    padding: 0;
    margin: 0;
}

.occupation {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 800;
    color: #94a3b8;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #94a3b8;
}