.projectsContainer {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectsWrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.projectsHeader {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.accentColor {
    color: #edb50c;
    font-family: 'Fira Code', monospace;
}

@media (max-width: 1024px) {
    .projectsWrapper {
        max-width: 90%;  
    }

    .projectsContainer {
        height: auto;
        padding-top: 20%;
    }
}

@media (max-width: 980px) {
    .projectsContainer {
        flex-direction: column; 
        justify-content: flex-start;
        height: auto;
    }

    .projectseWrapper {
        flex-direction: column; 
        max-width: 90%;
        gap: 30px;  
    }
}

