.landingPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    padding: 20px;
}

.landingPageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1000px;
}

.hello, .name, .occupation, .description {
    margin: 0; 
    padding: 0; 
    line-height: 1.2; 
}

.hello {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 20px;
    color: #edb50c;
    margin-bottom: 15px; 
}

.name {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 15px; 
}

.occupation {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 800;
    color: #94a3b8;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #94a3b8;
    margin-top: 15px; 
    line-height: 1.5; 
    margin-bottom: 18px;
}

@media (max-width: 868px) {
    .hello {
        font-size: 18px;
    }
    .name, .occupation {
        font-size: 60px;
    }
    .description {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .landingPageContent {
        max-width: 90%;
    }
}


.buttonWrapper button {
    padding: 10px 35px; 
    font-family: 'Fira Code', monospace;
    color: #C6E4EC;
    background-color: #3D5656;
    border: 1px solid #C6E4EC;
    transition: background-color 0.4s ease;
    border-radius: 5px;
}

.buttonWrapper button:hover {
    background-color: #ffffff;
    border: 1px solid #001B32;
    color: #001B32;
}

@media (max-width: 772px) {
    .name, .occupation {
        font-size: 150%;
    }
    .description {
        font-size: 100%;
    }

    .buttonWrapper button {
        padding: 8px 18px
    }
}