.headerContainer {
    position: sticky;
    padding: 0;
    width: 100%;
}

.customNavLink {
    color: #ffffff;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    font-weight: 400;
}

.accentColor {
    color: #edb50c;
}