.headerContainer {
    position: sticky;
    padding: 0;
    width: 100%;
}

.customNavLink {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.accentColor {
    color: #edb50c;
}
